<template>
    <div>
        <div  class= "mainHead">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title">Solution page Title</h1>
                        <h3 class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque,
                            vel, non in id dolore voluptates quos eligendi labore.</h3>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>

        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2 mb-2">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 inside-div">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Relevant Text based on solution chosen</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn buttoncolor">More Info</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-2 mb-2">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8">
                    <hr/>
                </div>
                <div class="col-lg-2">

                </div>

            </div>
            <div class="row">
                <div class="col-md-2 mb-2">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 inside-div">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Content Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                        </div>
                        <div class="row">

                            <div class="col-sm-4 mb-2">
                                <img src="../../../img/homepageAboutUs.png" alt="image 1" class="image"/>
                                <div class="card-footer">
                                    <p>Image Subtext</p>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <img src="../../../img/homepagePerspectives.png" alt="image 1" class="image" />
                                <div class="card-footer">
                                    <p>Image Subtext</p>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <img src="../../../img/homepageSolutions.png" alt="image 1" class="image" />
                                <div class="card-footer">
                                    <p>Image Subtext</p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn buttoncolor">More Info</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-2 mb-2">

                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>