<template>
    <div class="bodyDIV">
        <div  class= "imgEmployee">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font">Employee Wellness</h1>
                        <h3 class="card-text header-title-font">
                            Empower your employees to become active participants in their health & wellness.
                        </h3>
                    </div>
                </div>
            <!--div class="col-md-3 card-text-side text-align-r">
                <h4>Work-related injuries and illnesses cost employers over
                    <span style="color: red">$200 Billion annually</span> in medical expenses, absenteeism, and lost productivity.
                    <br/><br/>- Centers for Disease Control</h4>
            </div -->
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>

        <!--Value show hide-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <h2 class="card-title">Value of Workforce Wellness</h2>
                            <h4 class="card-text">
                                Your organization's health and wellness efforts are not just about optics.
                            </h4>
                        </div>

                        <div class="collapse" id="collapseWellness">
                            <div class="row gap5">
                                <div class="col-sm-1"></div>
                                 <div class="col-sm-10 text-align-l">
                                    <img style="float:left" src="../../../img/employee_wellness_VOI.jpg" alt="image 1" class="image" />
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="gap3"></div>
                        </div>
                        <div class="card-footer" >
                            <button class="btn buttoncolor bntUP" v-if="isWellness" @click="isWellness = false" data-toggle="collapse" data-target="#collapseWellness" aria-expanded="false" aria-controls="collapseWellness">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                            <button class="btn buttoncolor" v-else @click="isWellness = true" data-toggle="collapse" data-target="#collapseWellness" aria-expanded="false" aria-controls="collapseWellness">
                                Value on Investment
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
            <!--Approach show hide-->
            <div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <hr/>
                    </div>
                    <div class="col-lg-2"></div>

                </div>

                <div class="row">
                    <div class="col-md-1 mb-1">
                        <div class="card h-100"></div>
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-10 mb-10 inside-div">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Our Approach</h2>
                                <h4>Engage. Educate. Empower.</h4>
                                <p class="card-text">
                                    By focusing on creating core lifestyle and behavior changes we can create valuable and sustainable improvements.
                                </p>

                            </div>
                            <div class="collapse" id="collapseSolutions">
                                <div class="card-body gap5">
                                    <h2 class="card-title">Content Solutions</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5" style="margin: 0;padding: 0">
                                        <img src="../../../img/employee_wellness_education.jpg" alt="vr_relax_scene" class="image"/>
                                    </div>
                                    <div class="col-md-5" style="margin: 0;padding: 0">
                                        <img src="../../../img/employee_wellness_platform.jpg" alt="vr_relax_scene" class="image"/>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-12 gap2"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-5 move_div">
                                        <h3 style="margin-bottom: 3rem">Quality Education</h3>
                                        <img style="float:left;margin-left: 3rem" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Made by <i>practicing physicians</i></p>
                                        <div style="clear:both"></div>
                                        <img style="float:left;;margin-left: 3rem" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> High-Yield topics</p>
                                        <div style="clear:both"></div>
                                        <img style="float:left;margin-left: 3rem" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Engaging & actionable</p>
                                        <div style="clear:both"></div>
                                        <img style="float:left;margin-left: 3rem" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Customized to your audience</p>
                                    </div>
                                    <div class="col-sm-5 mgap">
                                        <h3 style="margin-bottom: 3rem">Flexible Platform</h3>
                                        <img style="float:left;margin-left: 3rem" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Access on major digital devices</p>
                                        <div style="clear:both"></div>
                                        <img style="float:left;margin-left: 3rem" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Scales with your organization</p>
                                        <div style="clear:both"></div>
                                        <img style="float:left;margin-left: 3rem" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Fitness tracker integration</p>
                                        <div style="clear:both"></div>
                                        <img style="float:left;margin-left: 3rem" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Customize your platform</p>
                                    </div>
                                </div>
                                <div class="gap3"></div>
                                <div class="card-footer">
                                    <router-link to="/contact" tag="bnt">
                                        <button class="btn buttoncolor" type="button">
                                        Get Info & Pricing
                                    </button></router-link>
                                </div>
                                <div class="gap3"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="card-title">Virtual Reality (VR) Solutions</h2>
                                        <h4>Engage. Like never before.</h4>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-5 text-align-l">
                                        <h4 class="text-line-l" style="font-size: 20px;">Get Active. Get Relaxed. Endless Possibilities.</h4>
                                        <h5 class="text-line-l" style="font-size: 20px;">Wellovate VR Platform</h5>
                                        <p class="text-line-l">
                                            Let your employees actively engage
                                            in positive & immersive experiences designed specifically by
                                            clinicians to improve their mental & physical well being. </p>

                                    </div>
                                    <div class="col-sm-5" style="margin: 0;padding: 0">
                                        <img style="margin-top: 2rem;" src="../../../img/vr_relax_scene.jpg" alt="VR" class="image" />
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="gap3"></div>
                                <div class="card-footer">
                                    <router-link to="/contact" tag="bnt">
                                        <button class="btn buttoncolor" type="button">
                                            Get a LIVE Demo
                                        </button></router-link>
                                </div>
                            </div>
                            <div class="card-footer" >
                                <button class="btn buttoncolor bntUP" v-if="isSolutions" @click="isSolutions = false" data-toggle="collapse" data-target="#collapseSolutions" aria-expanded="false" aria-controls="collapseSolutions">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </button>
                                <button class="btn buttoncolor" v-else @click="isSolutions = true" data-toggle="collapse" data-target="#collapseSolutions" aria-expanded="false" aria-controls="collapseSolutions">
                                    See Our Solutions
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </div>
                        </div>
                        <!-- /.col-md-2 -->
                        <div class="col-md-1 mb-1"></div>

                    </div>

                </div>
            </div>
            <!-- Help show hide -->
            <div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <hr/>
                    </div>
                    <div class="col-lg-2"></div>

                </div>
                <div class="row">
                    <div class="col-md-1 mb-1">
                        <div class="card h-100"></div>
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-10 mb-10 inside-div">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Need Help with Your Program?</h2>
                                <h4 class="card-text">
                                    Whether you're just getting started or not getting the results
                                    you hoped for - we can help!
                                </h4>
                            </div>
                            <div class="collapse" id="collapseConsulting">
                                <div class="row gap3">
                                    <div class="col-md-12">
                                        <h3 class="card-title" style="color: #0059b3">Consultant Services</h3>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-5 text-align-l">
                                        <p class="text-line-l checkbox_font" style="margin-bottom: 4rem">
                                            Get professional and unbiased advisory
                                            services for your program. No cross-selling.
                                            No gimmicks. </p>
                                        <img style="float:left;" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem">Board Certified Physicians</p>
                                        <div style="clear:both"></div>
                                        <img style="float:left;" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Custom Tailored Solutions</p>
                                        <div style="clear:both"></div>
                                        <img style="float:left" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Evidence Based Research</p>
                                        <div style="clear:both"></div>
                                        <img style="float:left" src="../../../img/solutions_checkmark.jpg" alt="image 1" class="img-thumbnail thumbnail" />
                                        <p style="float:left;margin-left: 1rem"> Transparent Project Pricing</p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img style="float:left;margin-top: 2rem" src="../../../img/employee_wellness_consulting.jpg" alt="image 1" class="image" />
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="gap3"></div>
                                <div class="card-footer">
                                    <router-link to="/contact" tag="bnt"><button class="btn buttoncolor" type="button">
                                        Get in Touch
                                    </button> </router-link>
                                </div>
                            </div>
                                <div class="card-footer" >
                                    <button class="btn buttoncolor bntUP" v-if="isConsulting" @click="isConsulting = false" data-toggle="collapse" data-target="#collapseConsulting" aria-expanded="false" aria-controls="collapseConsulting">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </button>
                                    <button class="btn buttoncolor" v-else @click="isConsulting = true" data-toggle="collapse" data-target="#collapseConsulting" aria-expanded="false" aria-controls="collapseConsulting">
                                        Consulting Services
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                </div>
                        </div>
                        <!-- /.col-md-2 -->
                        <div class="col-md-1 mb-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    import TemplateBacking from './Templates/EmployeeWellness/TemplateBacking';
    export default {
        components:{
            templateBackground: TemplateBacking
        },
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                isWellness: false,
                isSolutions: false,
                isConsulting: false
            }
        }
    }
</script>