<template>
    <div class="bodyDIV">
        <div  class= "imgHealth">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font">Health Solutions</h1>
                        <h3 class="card-text header-title-font">
                            Clinician built experiences in virtual reality (VR) to address unique patient-centered objectives.
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>

        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <!--h2 class="card-title">Relevant Text based on solution chosen</h2-->
                            <h4 class="card-text gap3">
                                Customized VR experiences that best cater to your patients goals, needs<br/>
                                and situations in a healthcare environment.
                            </h4>
                        </div>
                        <img src="../../../img/health_providers_health_solutions.jpg" class="image1" alt="explore">
                        <div style="margin-bottom: 1rem" class="showHideDiv">
                            <button class="btn buttoncolor bntalign-l" @click="isQuality = true" type="button" data-toggle="collapse" data-target="#collapseQuality" aria-expanded="false" aria-controls="collapseQuality">
                                Patient Experience
                                <!--span class="glyphicon glyphicon-chevron-down"></span-->
                            </button>
                            <button  class="btn buttoncolor bntalign-r" @click="isIndications = true" type="button" data-toggle="collapse" data-target="#collapseIndications" aria-expanded="false" aria-controls="collapsedata-target=">
                                Clinical Indications
                                <!--span class="glyphicon glyphicon-chevron-down"></span-->
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
            <!--Quality show hide-->
            <div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <hr/>
                    </div>
                    <div class="col-lg-2"></div>

                </div>

                <div class="row">
                    <div class="col-md-1 mb-1">
                        <div class="card h-100"></div>
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-10 mb-10 inside-div">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Patient Quality Experience</h2>
                                <h4 class="card-text">
                                    Provide your patients with an improved experience through a safe and controlled medium.
                                </h4>
                                <!--div class="card-footer">
                                    <button class="btn buttoncolor" type="button" data-toggle="collapse" data-target="#collapseQuality" aria-expanded="false" aria-controls="collapseQuality">
                                        Show More
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </button>
                                </div-->
                            </div>
                        <div class="collapse" id="collapseQuality">
                            <div class="card-body">
                                <h2 class="card-title">Quality VR Platform</h2>
                                <p class="card-text">
                                    Our platform allows patients to engage in positive experiences to help them relax, distract, be active and learn through truly limitless possibilities.                                </p>
                            </div>
                            <div class="row gap3">
                                <div class="col-md-1"></div>
                                <div class="col-sm-6">
                                  <img src="../../../img/vr_relax_scene.jpg" alt="vr_relax_scene" class="image"/>
                                </div>
                                <div class="col-sm-4 center-image-div">
                                    <img style="float:left" src="../../../img/solutions_checkmark.jpg" alt="image" class="img-thumbnail thumbnail" />
                                    <p style="float:left;margin-left: 1rem" class="checkbox_font"> Clinician Developed</p>
                                    <div style="clear:both"></div>
                                    <img style="float:left;" src="../../../img/solutions_checkmark.jpg" alt="image" class="img-thumbnail thumbnail" />
                                    <p style="float:left;margin-left: 1rem" class="checkbox_font"> No PHI Collected or Needed</p>
                                    <div style="clear:both"></div>
                                    <img style="float:left" src="../../../img/solutions_checkmark.jpg" alt="image" class="img-thumbnail thumbnail" />
                                    <p style="float:left;margin-left: 1rem" class="checkbox_font"> Assess Quality Measures</p>
                                    <div style="clear:both"></div>
                                    <img style="float:left" src="../../../img/solutions_checkmark.jpg" alt="image" class="img-thumbnail thumbnail" />
                                    <p style="float:left;margin-left: 1rem" class="checkbox_font"> Continuous Improvement</p>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-sm-12 gap5"></div>
                                <div class="col-sm-1"></div>
                                <div class="col-md-10">
                                    <div class="col-sm-4">
                                        <img src="../../../img/health_solutions_assess.jpg" alt="assess" class="image-flex"/>
                                        <div class="card-footer">
                                            <h5>Assess</h5>
                                            <p>Seamlessly gather patient quality information for continuous improvement</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="../../../img/health_solutions_vrheadset.jpg" alt="vrheadset" class="image-flex" />
                                        <div class="card-footer">
                                            <h5>Customize</h5>
                                            <p>We work with you to address your specific patient population and facility workflow</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="../../../img/health_solutions_educate.jpg" alt="educate" class="image-flex" />
                                        <div class="card-footer">
                                            <h5>Educate</h5>
                                            <p>Improve patient understanding with interactive educational experiences</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="gap3"></div>
                        </div>
                            <div class="card-footer">
                                <button class="btn buttoncolor bntUP" v-if="isQuality" @click="isQuality = false" data-toggle="collapse" data-target="#collapseQuality" aria-expanded="false" aria-controls="collapseQuality">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </button>
                                <button class="btn buttoncolor" v-else @click="isQuality = true" data-toggle="collapse" data-target="#collapseQuality" aria-expanded="false" aria-controls="collapseQuality">
                                    Show More
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </div>

                    </div>
                    <!-- /.col-md-2 -->
                    <div class="col-md-1 mb-1"></div>

                </div>

                </div>
            </div>
            <!-- Indication show hide -->
            <div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <hr/>
                    </div>
                    <div class="col-lg-2"></div>

                </div>
                <div class="row">
                    <div class="col-md-1 mb-1">
                        <div class="card h-100"></div>
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-10 mb-10 inside-div">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Clinical Indications</h2>
                                <h4 class="card-text">
                                    AR/VR Immersion for Therapy
                                </h4>
                            </div>
                        <div class="collapse" id="collapseIndications">
                            <div class="row gap3">
                            <div class="col-md-1"></div>
                            <div class="col-sm-5 text-line-l">
                                <h3 style="color: #0059b3;">About Immersion Therapy</h3>
                                <p class="checkbox_font">
                                    Virtual and augmented reality is a therapeutic medium supported
                                    by over 20+ years of clinical research.</p>
                                 <p class="checkbox_font gap3">
                                    Immersion experiences offer a non-invasive and non-pharmacological 
                                    way to approach many clinical objectives. 
                                 </p>    

                            </div>
                            <div class="col-sm-4">
                                <img style="float:right" src="../../../img/health_solutions_vrtherapy.jpg" alt="image 1" class="image " />
                            </div>
                            <div class="col-md-1"></div>
                            </div>
                            <div class="gap3"></div>
                            <div class="gap5 text-line-c">
                                <router-link to="/contact">
                                    <button class="btn buttoncolor" type="button">
                                        Explore Indications
                                    </button> </router-link>

                            </div>
                            <div class="gap3"></div>
                        </div>
                            <div class="card-footer" >
                                <button class="btn buttoncolor bntUP" v-if="isIndications" @click="isIndications = false" data-toggle="collapse" data-target="#collapseIndications" aria-expanded="false" aria-controls="collapseIndications">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </button>
                                <button class="btn buttoncolor" v-else @click="isIndications = true" data-toggle="collapse" data-target="#collapseIndications" aria-expanded="false" aria-controls="collapseIndications">
                                    Show More
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </div>

                     </div>
                    <!-- /.col-md-2 -->
                    <div class="col-md-1 mb-1"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <br/>
            </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                isQuality: false,
                isIndications: false
            }
        }
    }
</script>