<template>
    <div class="bodyDIV">
        <div class="imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font" >Welcome {{userInfo.name}}</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>

        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>

                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <h2 class="card-title gap3">Wellovate Home Panel</h2>
                            <h4 class="gap1">AR/VR Technology | Educational Content Solutions | Advisory Services</h4>
                            <p class="text-line-l gap3">
                                Not sure what you guys are going to want here but this will be the landing page for once a user logs in.
                                I suppose this will be what Odette takes care of in her next phase.
                            </p>
                            <h4 class="card-title gap3">Welcome to a better kind of partnership. Welcome to Wellovate.</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Welcome",
        data () {
            return {
                userInfo: this.$store.getters.getUserInfo
            }
        }
    }
</script>

<style scoped>

</style>