<template>
    <div>
        <footer class="footer-basic navbar-fixed-bottom">
                 <div class="col-sm-12 col-xs-12 footer-basic-right">
                    <div class="col-sm-6 col-xs-6 move_div">
                        <p>
                            <router-link to="/"><a onclick="window.open('https://www.wellovate.com/pdfs/Privacy.pdf', '_blank');">Privacy Policy</a>
                            </router-link> |
                            <router-link to="/"><a onclick="window.open('https://www.wellovate.com/pdfs/Terms.pdf', '_blank');">Terms Of Use</a>
                            </router-link>
                        </p>
                    </div>
                    <div class="col-sm-6 col-xs-6 move_div">
                         <p class="footer-company-name">Copyright 2018 Wellovate, LLC. All rights reserved.</p>
                    </div>
                </div>
        </footer>
    </div>
</template>

<script>

    export default {

    }
</script>