<template>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mobile-navbar" @click="showNavbar=!showNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link to="/" class="navbar-brand"><img class="navImage" src="images/logo.png" alt="Wellovate Home"/></router-link>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="mobile-navbar" class="collapse navbar-collapse" v-model="showNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <router-link to="/about_us" tag="li"><a>About Us</a></router-link>
                    <li class="dropdown" :class="{open: isDropdownOpen}" @click="isDropdownOpen = !isDropdownOpen">
                        <a
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false">Solutions<span class="carat"></span></a>
                        <ul class="dropdown-menu">
                            <router-link to="/health_provider" tag="li" @click="isDropdownOpen = false"><a>For Health Providers</a></router-link>
                            <router-link to="/employee_wellness" tag="li" @click="isDropdownOpen = false"><a>For Employee Wellness</a></router-link>
                            <!--router-link to="/community_wellness" tag="li" @click="isDropdownOpen = false"><a>For Community Wellness</a></router-link-->
                        </ul>
                    </li>
                    <!--router-link to="/perspectives" tag="li"><a>Perspectives</a></router-link-->
                    <router-link to="/contact" tag="li"><a>Contact</a></router-link>
                    <router-link to="/register" tag="li"><a>Register</a></router-link>
                    <router-link to="/login" tag="li"><a>Login</a></router-link>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';

    export default {
        data() {
            return {
                isDropdownOpen: false,
                showNavbar: false
            }
        },
        computed: {

        },
        methods: {

        }
    }
</script>