<template>
    <div>
        <home-background></home-background>
    </div>
</template>

<script>
    import HomeBackground from './BackLayout/HomeBackground';
    export default {
        components:{
            homeBackground: HomeBackground
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>