<template>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mobile-navbar" @click="showNavbar=!showNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link to="/welcome" class="navbar-brand"><img class="navImage" src="images/logo.png" alt="Wellovate Home"/></router-link>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="mobile-navbar" class="collapse navbar-collapse" v-model="showNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <router-link to="/devices/connect" tag="li"><a>Connect Wearable Devices</a></router-link>
                    <template v-if="this.$store.state.userInfo.admin === 'true'">
                        <li class="dropdown" :class="{open: isDropdownOpen}" @click="isDropdownOpen = !isDropdownOpen">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="carat"></span></a>
                            <ul class="dropdown-menu">
                                <router-link to="/question/question_group" tag="li" @click="isDropdownOpen = false"><a>Create Question Group Title</a></router-link>
                                <router-link to="/question/question_add" tag="li" @click="isDropdownOpen = false"><a>Add Question To Group</a></router-link>
                                <router-link to="/question/questionnaire_create" tag="li" @click="isDropdownOpen = false"><a>Create Questionnaire From Available Questions</a></router-link>
                                <router-link to="/question/questionnaire_users" tag="li" @click="isDropdownOpen = false"><a>Assign Questionnaires To Users</a></router-link>
                            </ul>
                        </li>
                    </template>
                    <!--router-link to="/perspectives" tag="li"><a>Perspectives</a></router-link-->
                    <router-link to="/login" tag="li"><a>Logout</a></router-link>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                isDropdownOpen: false,
                showNavbar: false
            }
        },
        computed: {

        },
        methods: {

        }
    }
</script>