<template>
    <div class="mainHead">
        <div class="headContents">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="leftBox">
                            <h1>Employee Wellness</h1>
                            <h3>Empower your employees to become active participants in their health & wellness.</h3>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-12 col-md-6">
                        <div class="rightBox">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

</script>

<style scoped>

</style>