<template>
    <div class="templateBacking">
        <app-heading></app-heading>
        <app-backing></app-backing>
    </div>
</template>

<script>
    import Backing from './Backing';
    import Heading from './Heading';
    export default {
        components:{
            appBacking: Backing,
            appHeading: Heading
        }
    }
</script>

<style scoped>

</style>