<template>
    <div class="bodyDIV">
        <div  class= "imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font" >Contact Us</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>
        <!--our mission-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <div class="row">
                                <div class="row tint">
                                    <div class="row">
                                        <div class="col-sm-1 col-xs-0"></div>
                                        <div class="col-sm-10 col-xs-12">
                                            <hr class="eduSolutionHr" style="width: 100%">
                                        </div>
                                        <div class="col-sm-1 col-xs-0"></div>
                                    </div><div class="row">
                                    <div class="col-sm-2 col-xs-0"></div>
                                    <div class="col-sm-8 col-xs-12">
                                        <input type="text" maxlength="40" class="form-control" name="contactName" placeholder="Name" v-model="name">
                                    </div>
                                    <div class="col-sm-2 col-xs-0"></div>
                                </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <input type="text" maxlength="100" class="form-control" name="companyName" placeholder="Company Name" v-model="companyName">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <input type="email" maxlength="80" class="form-control" name="contactEmail" placeholder="Email" v-model="email">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <input type="text" maxlength="11" class="form-control" name="contactPhone" placeholder="Phone" v-model="phone">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12 form-group">
                            <textarea class="form-control" rows="5" name="contactMessage" onfocus="this.value=''" v-model="comment">
                                Please give us some more information about you
                            </textarea>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12 form-group text-center">
                                            <input type="button" class="btn btn-primary" value="Send" @click="sendEmail">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        beforeRouteEnter (to, from, next) {
          next(vm => {
              if(from.name === undefined){
                  vm.route = 'Outside Site'
              }else{
                  vm.route = from.name
              }
          })
        },
        data(){
            return{
                route:'',
                name:'',
                companyName:'',
                email:'',
                phone:'',
                comment:''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            sendEmail(){

                let error = '';
                if(this.name === ''){
                    error += '- Name field cannot be left empty -<br>';
                }
                if(this.email === ''){
                    error += '- Email field cannot be left empty -<br>';
                }else if(!this.validateEmail(this.email)){
                    error += '- Must be a valid email address -<br>';
                }
                if(this.comment === ''){
                    error += '- You must include a comment -';
                }
                if(error.length > 0){
                    swal({
                        title: 'Form Errors',
                        type: 'error',
                        html: error
                    })
                }else{
                    let data = { name: this.name, route: this.route, companyName: this.companyName, email: this.email, phone: this.phone, comment: this.comment};
                    let self = this;
                    axios.post('/api/contact_mail', data)
                        .then(function (response) {
                            swal({
                                title: 'Email Sent',
                                text: response.data.data,
                                type: 'success'
                            })
                            self.name = ''
                            self.companyName = ''
                            self.email = ''
                            self.phone = ''
                            self.comment = ''
                        })
                        .catch(function (error) {
                            console.log(error);
                            swal({
                                title: 'Sending error',
                                text: 'There was an error sending your message, please try again later',
                                type: 'error'
                            })
                        })
                }
            },
            validateEmail(email){
                let re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>