<template>
    <div class="bodyDIV">
        <div  class= "imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font" >User Registration</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>
        <!--our mission-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <div class="row">
                                <div class="row tint">
                                    <div class="row">
                                        <div class="col-sm-1 col-xs-0"></div>
                                        <div class="col-sm-10 col-xs-12">
                                            <hr class="eduSolutionHr" style="width: 100%">
                                        </div>
                                        <div class="col-sm-1 col-xs-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Name</label>
                                                <input type="text" maxlength="120" class="form-control" id="name" placeholder="Name" v-model="name" >
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="email">Email</label>
                                                <input type="email" maxlength="120" class="form-control" id="email"  name="contactEmail" placeholder="Email" v-model="email" >
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="password">Password</label>
                                                <input type="password" maxlength="40" class="form-control" id="password"  name="contactEmail" placeholder="Password" v-model="password">
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="password_confirmed">Re-Enter Password</label>
                                                <input type="password" maxlength="40" class="form-control" id="password_confirmed"  name="password_confirmed" placeholder="Re-Enter Password" v-model="password_confirmed">
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="age">Age</label>
                                                <input type="number" class="form-control" id="age"  name="age" placeholder="Enter Age" v-model="age" min="0" max="120">
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label>Sex</label>
                                                <br>
                                                <label class="radio-inline"><input type="radio" name="sexradio" value="male" v-model="sex">Male</label>
                                                <label class="radio-inline"><input type="radio" name="sexradio" value="female" v-model="sex">Female</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12 form-group text-center">
                                            <input type="button" class="btn btn-primary" value="Send" @click="checkParams">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Register",
        data(){
            return{
                name: '',
                email: '',
                password: '',
                password_confirmed: '',
                age: '',
                sex: '',
                client_token: ''
            }
        },
        methods: {
            validateEmail (email) {
                let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                return re.test(String(email).toLowerCase())
            },
            validatePassword (password) {
                let re = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,40}$/
                return re.test(String(password))
            },
            checkParams () {
                let error = ''
                if (this.name.length < 5) {error += '- Please enter your full name -<br>'}
                if (!this.validateEmail(this.email)) {error += '- Please enter a valid email -<br>'}
                if (this.password.length < 8) {error += '- The password must be at least 8 characters long -<br>'}
                if (this.password.length > 40) {error += '- The password should be under 40 characters -<br>'}
                if (!this.validatePassword(this.password)) {error += '- The password must contain at least one number and one special character -<br>'}
                if (this.age < 0 || this.age > 120) {error += '- Please enter a valid age -<br>'}
                if (this.sex === '') {error += '- Please select your sex -<br>'}
                if (this.password !== this.password_confirmed) {error += '- Your passwords must match -<br>'}
                if (error.length > 1) {
                    swal({
                        title: 'Form Errors',
                        type: 'error',
                        html: error,
                    })
                    return
                }
                this.sendData()
            },
            sendData () {
                let sendData = {};
                sendData.name = this.name;
                sendData.email = this.email;
                sendData.password = this.password;
                sendData.password_confirmation = this.password_confirmed;
                sendData.user_age = this.age;
                sendData.user_sex = this.sex;
                sendData = JSON.stringify(sendData);
                let config = {
                    headers: {'Authorization': 'Bearer ' + this.client_token, 'Content-Type': 'application/json'}
                };
                let self = this;
                axios.post('/api/users', sendData, config)
                    .then((response) => {
                        swal({
                            type: 'success',
                            title: 'User Registered',
                            text: 'Please check your email to finish your registration process.'
                        });
                        self.name = '';
                        self.email = '';
                        self.password = '';
                        self.password_confirmed = '';
                        self.age = '';
                        self.sex = '';
                    })
                    .catch((error) => {
                        console.log(error.response.data)
                        if (error.response.data.error.email[0] === "The email has already been taken.")
                        {
                            swal({
                                type: 'error',
                                title: 'Email Already in Use',
                                text: 'This email is already being used. Either try another or check your email for the verification email.'
                            })
                        }else{
                            swal({
                                type: 'error',
                                title: 'There has been an error in registration',
                                text: 'Please try to register again. If this problem persists please contact us to let us know.'
                            })
                        }
                    })
            }
        },
        mounted () {
            let self = this;
            axios.post('/api/client/creds', {
                type: 'client'
            })
                .then((response) => {
                    // console.log(response);
                    self.client_token = response.data.access_token
                })
                .catch((error) => {
                    console.log('Error', error.response.data);
                })
        }
    }
</script>

<style scoped>

</style>