// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/sweetalert2/src/sweetalert2";
@import "node_modules/bootstrap-responsive-tabs/dist/css/bootstrap-responsive-tabs";

$bgDefault      : #f9f9f9;
$bgHighlight    : #6facd8;
$colDefault     : #0b0b0b;
$colHighlight   : #7e738b;
$templateDefault: #268fab;
$bgFooter       : #ececec;
$colorBasic     : #ffffff;
$bntColor       : #ff6600;
$dropDown       : true;
$gap1           : 1rem;
$gap2           : 2rem;
$gap3           : 3rem;
$gap4           : 4rem;
$gap5           : 5rem;

body{
  font-family: sans-serif !important;
  background: $bgDefault;
  overflow-x: hidden !important;
}

.bodyDIV{
  height: 100%;
  margin-bottom: $gap5;
}

h1{
  color: #1e90ff;
  font-weight:bold;
}
h2{
  color: #0059b3;
}
h3{

}
h5{
  color: #0059b3;
}

.header-title-font{
    color:$colorBasic;
}

.title-div{
    margin-top: 6%;
}

.img-thumbnail {
    border: 0;
}

.checkbox_font{
  font-size: 16px;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

.mainTitle{
  color: #ffffff;
  text-align: center;
  margin: 20% 0 0 0;
  /*text-shadow: 2px 2px #ffffff;*/
}

.homeBackground{
  background: url("../img/homepageBackground.jpg")no-repeat center center fixed;
  position: fixed;
  top: 5vh;
  min-height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.templateBacking{
  background: url("../img/background_template.jpg")no-repeat center center fixed;
  position: fixed;
  top: 5vh;
  min-height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.mainHead{
  height: 200px;
  width: 100%;
  background-size: cover !important;
  margin: 0;
}

.imgEmployee{
 // background: url("../img/employee_wellness_background.jpg");
  background: url("../img/standard_background.jpg");
  @extend .mainHead;
}

.imgHealth{
 // background: url("../img/health_providers_background.jpg");
  background: url("../img/standard_background.jpg");
  @extend .mainHead;
}

.imgAbout{
  background: url("../img/standard_background.jpg");
  @extend .mainHead;
}

.comingSoon{
  background: url("../img/scriptMonkey.jpg");
  height: 400px;
}

.card{
  margin-right: $gap2;
  margin-left: $gap2;
}

.card-text{
   padding: 0 6rem;
 }

.card-text-side{
  padding: 1rem 6rem 0 0;
}

.inside-div{
  padding-bottom: $gap2;
  padding-top: $gap2;
  /* background: #f9f9f9fe;*/
  background: $colorBasic;
  text-align: center;
  -moz-box-shadow:    1px 1px 5px 2px #cccaca;
  -webkit-box-shadow: 1px 1px 5px 2px #cccaca;
  box-shadow:         1px 1px 5px 2px #cccaca;
}

.header-div {
  max-height: 225px;
  text-align: center;
}

.templateBacking{
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headContents{
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  margin-top: -2%;
  top: 10vh;
  outline: 2px solid #0b0b0b;
}

.buttoncolor{
  background: $bntColor;
  color: $colorBasic;
}

.bntUP{
  float: right;
  text-align: right;
}

.image-align{
  align-content: center;
}

.gap1{
  margin-top: $gap1;
}

.gap3{
  margin-top: $gap3;
}

.gap5{
  margin-top: $gap5;
}

.image-flex{
  width: 80%;
  //height: 11rem;
  height: auto;
}

.mainBack{
  width: 80%;
  padding: 20px 25px;
  margin: 0 auto;
  display: block;
  height: 74.2vh;
  //outline: 2px solid black;
  background-color: whitesmoke;
}

.navbar-default {
  .navImage{
    height: 50px;
  }
  background-color: $bgDefault;
  //border-color: $bgHighlight;
  border-color: $colorBasic;
  .navbar-brand {
    height: 70px;
    padding-left: 20px;
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-right {
    margin-top: 12px;
  }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colorBasic;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.navbar-default .navbar-nav > .open >
    a, .navbar-default .navbar-nav > .open >
    a:hover, .navbar-default .navbar-nav > .open >
    a:focus {
    color: $colorBasic;
  }


hr{
  border-color:$bgDefault ;
}

.nav a{
  //font-size: 1.6em !important;
  font-size: 1.3em !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: $bgHighlight;
  color: $colorBasic;
}

.footer-basic{
  background-color: $bgFooter;
  bottom: 0;
  width: 100%;
  display: block;
  padding-top: $gap1;
  font-size: small;
}

.navbar{
  background-color: white;
  box-shadow: 0px 1px 1px rgba(245, 245, 245, 0.8);
  -moz-box-shadow:    0px 1px 1px rgba(245, 245, 245, 0.8);
  -webkit-box-shadow: 0px 1px 1px rgba(245, 245, 245, 0.8);
  margin-bottom: 0;
}

.footer-company-name{
  text-align: right;
}

.ghostBox{
  margin-top: 20%;
  margin-left: 10%;
  padding: 10px 20px 50px 20px;
  width: 30%;
  background: rgba(251, 250, 255, 0.70);
}

.image{
  width:100%;
}

.image1 {
  width: 70%;
}

.thumbnail{
  margin-bottom:$gap1;
  width:10%;
}

.text-line-l{
  text-align: left;
}

.text-line-r{
  text-align: right;
}

.text-line-c{
  text-align: center;
}

.bntalign-r{
float: right;
  margin-right: 7rem;
}

.bntalign-l{
float: left;
  margin-left: 7rem;
}

.titleText{
  color: #ffffff;
  text-shadow: 2px 2px #0059b3;
}

/************* media **************/


@media(min-width:1024px){
  .bodyDIV{
    height: 100%;
    margin-top: 7rem;
    margin-bottom: $gap5;
  }

  .mainTitle{
    color: #ffffff;
    text-align: center;
    margin: 20% 0 0 0;
    /*text-shadow: 2px 2px #ffffff;*/
  }

  h2{
    font-size: 40px;
  }

}

@media(max-width: 960px){
  .col-sm-5{
    width: 100%;
  }

  .col-sm-4{
    width: 100%;
  }

  .col-sm-6{
    width: 100%;
  }

  .image-flex {
    width: 100%;
   height: auto;
  }

  .card-footer{
    padding-bottom: $gap2;
  }

  .center-image-div{
    margin-left: 25%;
    margin-top: $gap2;
  }

  .card-text{
    padding: 0 $gap3;
  }

  .text-line-l{
    text-align: center;
  }

  .text-line-r{
    text-align: center;
  }

  .mainTitle{
    text-align: center;
    margin: 50% 0 0 0;
    /*text-shadow: 2px 2px #ffffff;*/
  }

  .title-div{
    margin-top: 0;
  }
}

@media only screen and (max-width: 900px) {
  .inside-div{
    padding-bottom: $gap4;
    padding-top: $gap2;
    /* background: #f9f9f9fe;*/
    background: $colorBasic;
    text-align: center;
    -moz-box-shadow:    1px 1px 5px 2px #cccaca;
    -webkit-box-shadow: 1px 1px 5px 2px #cccaca;
    box-shadow:         1px 1px 5px 2px #cccaca;
  }

  .showHideDiv{
    display: none;
  }

  .move_div{
    width: 100%;
    text-align: center;
  }

  .mgap {
    @extend .move_div;
    margin-top: $gap3;
  }



}


@media only screen and (max-width: 480px) {
  h1{
    font-size: 30px;
    color: blue;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }

  .footer-company-name{
    text-align: center;
    font-size: x-small;
  }

   .center-image-div{
     margin-left: 10%;
     margin-top: $gap1;
   }

  .card-text{
    padding: 0;
  }

  .text-line-l{
    text-align: center;
  }

  .text-line-r{
    text-align: center;
  }

  .bntalign-r{
    float: right;
    margin-right: 0;
  }

  .bntalign-l{
    float: left;
    margin-left: 0;
  }

  .mainTitle{
    text-align: center;
    margin: 50% 0 0 0;
   /* text-shadow: 2px 2px #ffffff;*/
  }
}
