
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/sweetalert2/src/sweetalert2";
@import "node_modules/bootstrap-responsive-tabs/dist/css/bootstrap-responsive-tabs";

body{
  background-color: rgb(46, 54, 249);
 /* background: url('../img/overlook.jpg') no-repeat center center fixed;*/
  width: 100%;
  height: 100%;
  font-family: Verdana !important;
}

html{
  position: relative;
  min-height: 100%;
}

.homeBody{
  @extend body;
  background: url('../img/homepageBackground.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solutionsBody{
  @extend body;
  background: whitesmoke;
}

.realitiesBody{
  @extend body;
  background: url('../img/vr promo background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.perspectivesBody{
  @extend body;
 /* background-image: url('../img/perspectivesBackground.jpg');*/
}

.aboutBody{
  @extend body;
  background: whitesmoke;
}
/*Odette 10/31/17*/
.missionBody{
  @extend body;

}

/*Odette 10/31/17*/
.whatwedoBody{
  @extend body;

}
/*Odette 10/31/17*/
.headerImageContainerDiv {
  -webkit-box-shadow: 0 2px 4px 1px #696969;
  box-shadow: 0 2px 4px 1px #696969;
  padding-top: 9%;
  background: url('../img/headerDivImage.jpg') no-repeat;
  background-size: cover;
}

.perspectivesHeaderImage{
  -webkit-box-shadow: 0 2px 4px 1px #696969;
  box-shadow: 0 2px 4px 1px #696969;
  padding-top: 9%;
  background: url('../img/perspectives_header.jpg') no-repeat;
  background-size: cover;
}

.solutionHeaderImage{
  -webkit-box-shadow: 0 2px 4px 1px #696969;
  box-shadow: 0 2px 4px 1px #696969;
  padding-top: 9%;
  background: url('../img/solutions_header.jpg') no-repeat;
  background-size: cover;
}

.loginButton{
  padding-left: 35px;
  margin-top: 6px;
}

.loginDiv{
  background: rgba(240,248,255,0.8);
  margin-top: 10%;
  float: right;
  width: 200px;
  height: 150px;
  padding: 10px;
  vh: 0 auto;
}

.highYieldParagraph{
  font-size: small;
  text-align: left;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 20px;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

.coloredBorderContainers {
  /*border: #93AFED 4px solid; */
  /* width: 145px; */
  /* height: 200px; */
  display: block;
  margin: 0 auto;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  border-radius: 5px;
  width: 150px;
  height: 200px;
  cursor: pointer;
}

.aboutUsContainer{
  @extend .coloredBorderContainers;
  border: none;
  background: url('../img/homepageAboutUs.png') center no-repeat;
  background-size: cover;
}

.solutionsContainer{
  @extend .coloredBorderContainers;
  border: none;
  background: url('../img/homepageSolutions.png') center no-repeat;
  background-size: cover;
  opacity: .95;
}

.perspectivesContainer{
  @extend .coloredBorderContainers;
  border: none;
  background: url('../img/homepagePerspectives.png') center no-repeat;
  background-size: cover;
}

.ar-vrContainer{
  @extend .coloredBorderContainers;
  border: none;
  background: url('../img/AR-VR.png') center no-repeat;
  background-size: cover;
}

.solutionsPicture{
  display:block;
  margin:0 auto;
  width: 80%;
}

.main {
  padding: 0 !important;
  margin-bottom: 20px;
}

.tint{
/*  background-color: rgb(241, 242, 249)*/

}

.navbar-right {
  margin-top: 25px;
}

.navbar-toggle .icon-bar {
  width: 40px !important;
  height: 5px !important;
}
.navbar-toggle {
  width: 50px;
  height: 50px;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.navbar-brand > img {
  height: 60px;
  margin-left: 45px;
 }

.nav-tabs{
  color: whitesmoke;
}

.nav-tabs > li > a, .nav-pills > li > a {margin-left:25px;margin-right:27px;}


.nav-tabs > li > a {
  background-color: black;
}

.tab-content{
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
}
.footer-basic{
  background-color: #F2F2F2;
}

.footer-basic .footer-company-motto{
  color:  black;
  font-size: 24px;
  margin: 0;
}

.footer-basic .footer-company-name{
  color:  white;
  font-size: 12px;
  margin: 0;
  text-align: right;
}

.footer-basic .footer-links{
  list-style: none;
  font-size: 12px;
  color:  white;
  margin: 0;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.footer-basic .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

.footer-basic-right{
  text-align: right;
}

.footer-basic-left{
  text-align: left;
}

.pageContainer{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 2px 4px 1px #696969;
  box-shadow: 0 2px 4px 1px #696969;
}

.headerTitle{
  font-size: xx-large;
  color:white;
  margin-left:12%;
  text-shadow: 2px 2px black;
}

.hyper{
  text-decoration: none;
}

 a.hyper:hover{
  color: #696969;
   text-decoration: none;
}

  .nav-tabs > li > a, .nav-pills > li > a {margin-left:0;margin-right:0;}

  /*.footer-basic{
    !*padding: 35px;*!
    height: 250px;
  }*/

.textBorder{
  border-style: solid;
  border-width: 1px;
  margin: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 1px 4px 1px #696969;
  box-shadow: 1px 1px 4px 1px #696969;
}

  /*.footer-basic .footer-company-name{
    font-size: 12px;
  }

  .footer-basic .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic .footer-links a{
    line-height: 1.8;
  }*/

  .centered-xs{
    text-align: center !important;
  }

.solutionsContentHeaders {
  font-size: 30px;
  font-weight: bold;
}

.educationSolutionHeader{
  @extend .solutionsContentHeaders;
  color: black;
}
.valueAddedSolutionHeader{
  @extend .solutionsContentHeaders;
  color: white;
}
.conServicesSolutionHeader{
  @extend .solutionsContentHeaders;
  color: black;
}

.solutionsHr{
  border-top-width: medium;
  margin-top: 0;
  width: 100%;
}

.eduSolutionHr{
  @extend .solutionsHr;
  /*border-top-color: #A2A2A2;*/
}

.valueSolutionHr{
  @extend .solutionsHr;
  border-top-color: white;
}

.consultantSolutionHr{
  @extend .solutionsHr;
  border-top-color: #789985;
}

.solutionsContentContainer{
  @extend .container;
  padding: 50px 0px;
  margin: 0px;
  width: 100%;
  line-height: 2;
  opacity: .75;
  display: none;
}

.educationSolutionsContainer{
  @extend .solutionsContentContainer;
  display: inherit;
}

.valueAddedSolutionsContainer{
  @extend .solutionsContentContainer;
}

.consultantSolutionsContainer{
  @extend .solutionsContentContainer;
}

.activePage{
  background-color: #3f3e40;
  color: white;
}

.nonActivePage{
  color: black;
}
.row{
  margin: 0px;
}

.nav-tabs > li > a{
  opacity: .75;
}

.small {
  height: 60px;
  overflow:hidden;
}
.big {
  height: auto;
}

.contactForm {
  width: 100%;
  font-size: 18px;
}

@media(max-width:768px){
  .loginDiv{
    padding-top: 60px;
    width: 100%;
    height: 250px;
  }

  .main{
    width: 100%;
  }

  .loginDiv{
    padding-top: 60px;
    width: 100%;
    height: 250px;
  }

  .loginButton{
    padding-left: 0;
    margin-top: 0;
  }

  .loginButton{
    padding-left: 0;
    margin-top: 0;
  }

  .footer-basic{
    font-size: 9px;
  }

  .footer-basic .footer-company-motto{
    font-size: 9px;
  }

  .footer-basic .footer-company-name{
    font-size: 7px;
  }

  .footer-basic .footer-links{
    font-size: 7px;
    padding: 0;
  }

  .footer-basic .footer-links a{
    line-height: 1;
  }

  .centered-xs{
    text-align: center !important;
  }

  .headerImageContainerDiv{
    /*display: none;*/
  }

  .headerTitle{
    font-size: medium;
  }

  .textBorder{
    border-style: solid;
    border-width: 1px;
    margin: 0;
    -webkit-box-shadow: 1px 1px 4px 1px #696969;
    box-shadow: 1px 1px 4px 1px #696969;
  }

  .highYieldParagraph{
    font-size: small;
    text-align: left;
    margin-right: 25px;
    margin-left: 0;
    margin-top: 20px;
  }
}
