<template>
    <div class="bodyDIV">
        <div  class= "imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font">Questionnaire Creation</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>
        <!--our mission-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <div class="row">
                                <div class="row tint">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label for="questInput">Questionnaire Name</label>
                                                <input type="text" class="form-control" id="questInput" name="questInput" v-model="questionnaire_name">
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label for="selTitle">Select Title TO Get Questions From</label>
                                                <select id="selTitle" class="form-control" v-model="selectedTitle" @change="getQuestions">
                                                    <option value="" disabled>- Please select the title -</option>
                                                    <option v-for="title in titles" v-bind:value="title.identifier">{{title.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>

                                    <template v-if="showQuestion">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Add to Questionnaire</th>
                                                <th>Question ID</th>
                                                <th>Question</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="question in questions">
                                                    <td><input type="checkbox" :value="question.identifier" v-model="checkedQuestions"></td>
                                                    <td>{{question.identifier}}</td>
                                                    <td>{{question.question}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </template>

                                    <template v-if="showButton">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-0"></div>
                                            <div class="col-sm-8 col-xs-12 form-group text-center">
                                                <input type="button" class="btn btn-primary" value="Create Questionnaire" @click="createQuestionnaire">
                                            </div>
                                            <div class="col-sm-2 col-xs-0"></div>
                                        </div>
                                        <br>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuestionnaireCreate",
        data() {
            return {
                questionnaire_name: '',
                selectedTitle: '',
                token: this.$store.state.userInfo.token,
                userID: this.$store.state.userInfo.id,
                titles: {},
                questions: {},
                showQuestion: false,
                showButton: false,
                checkedQuestions: []
            }
        },
        mounted() {
            let config = {
                headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
            };
            let self = this;
            axios.get('/api/titles', config)
                .then((response) => {
                    self.titles = response.data.data;
                })
            this.showQuestion = false;
            this.questions = {};
        },
        methods: {
            getQuestions() {
                let config = {
                    headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
                };
                let self = this;
                if (this.selectedTitle !== ''){
                    axios.get('/api/questions?title_identifier='+this.selectedTitle+'&per_page=50', config)
                        .then((response) => {
                            self.questions = response.data.data;
                            self.showQuestion = true;
                            self.showButton = true;
                        })
                }
            },
            createQuestionnaire() {
                let error = '';
                if (this.questionnaire_name.length < 2) {
                    error += '- Please enter questionnaire name first -<br>';
                }
                if (this.checkedQuestions.length < 1) {
                    error += '- Please add questions to the questionnaire first. -<br>';
                }
                if (error.length > 1) {
                    swal({
                        type: 'error',
                        title: 'Form Incorrect',
                        html: error
                    })
                    return;
                }
                let config = {
                    headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
                };
                let self = this;
                let data1 = {"questionnaire_name": this.questionnaire_name};
                let questionnaireArray = [];
                for(let j = 0; j < this.checkedQuestions.length; j++){
                    questionnaireArray.push({"question_identifier": this.checkedQuestions[j]});
                }
                axios.post('/api/questionnaire_names', data1, config)
                    .then((response) => {
                        let questionnaire_id = response.data.data.identifier;
                        let data2 = {};
                        data2.questionnaire_name_identifier = parseInt(questionnaire_id);
                        data2.question_identifiers = questionnaireArray;
                        axios.post('/api/questionnaire_create', data2, config)
                            .then(response => {
                                //console.log(response.data)
                                swal('Questions Added to Questionnaire', 'The questions have been successfully added.', 'success');
                                self.questionnaire_name = '';
                                self.selectedTitle = '';
                                self.showQuestion = false;
                                self.showButton = false;
                                self.checkedQuestions.length = 0;
                            })
                            .catch(error => {
                                swal({
                                    title: 'Error Status:<br>' + error.response.data.code,
                                    type: 'error',
                                    html: 'Error Message:<br>' + '<b>'+error.response.data.error+'</b>'
                                })
                            })
                    })
                    .catch(error => {
                        //console.log(error.response)
                        swal({
                            title: 'Error Status:<br>' + error.response.data.code,
                            type: 'error',
                            html: 'Error Message:<br>' + '<b>'+error.response.data.error+'</b>'
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>