<template>
    <div class="bodyDIV">
        <div  class= "imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font">Add Question</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>
        <!--our mission-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <div class="row">
                                <div class="row tint">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label for="selTitle">Select Title</label>
                                                <select id="selTitle" class="form-control" v-model="selectedTitle" @change="showTypeInput">
                                                    <option value="" disabled>- Please select the title -</option>
                                                    <option v-for="title in titles" v-bind:value="title.identifier">{{title.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>

                                    <template v-if="showType">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-0"></div>
                                            <div class="col-sm-8 col-xs-12">
                                                <div class="form-group">
                                                    <label for="selType">Select Type</label>
                                                    <select id="selType" class="form-control" v-model="selectedType" @change="showQuestInput">
                                                        <option value="" disabled>- Please select the question type -</option>
                                                        <option v-for="type in types" v-bind:value="type.identifier">{{type.quest_type}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-0"></div>
                                        </div>
                                    </template>

                                    <template v-if="showEnum">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-0"></div>
                                            <div class="col-sm-8 col-xs-12">
                                                <div class="form-group">
                                                    <label for="selEnumNum">Select Number of Possible Answers</label>
                                                    <select id="selEnumNum" class="form-control" v-model="enumInput" @change="createEnumFields">
                                                        <option value="" disabled selected>Select Number of Responses</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-0"></div>
                                        </div>
                                    </template>

                                    <template v-if="showQuest">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-0"></div>
                                            <div class="col-sm-8 col-xs-12">
                                                <div class="form-group">
                                                    <label for="questInput">Enter Question</label>
                                                    <input type="text" class="form-control" id="questInput" name="questInput" v-model="questInput">
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-0"></div>
                                        </div>
                                    </template>

                                    <template v-if="showEnumQuest">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-0"></div>
                                            <div class="col-sm-8 col-xs-12">
                                                <div class="form-group">
                                                    <label for="enumAmount">Enter responses in ascending order</label>
                                                    <br>
                                                    <div id="enumAmount">
                                                        <template v-for="enumQuest in enumArray">
                                                            <br>
                                                            <label :for="'enum'+enumQuest.enumID">{{enumQuest.header}}</label>
                                                            <input type="text" class="form-control" :id="'enum'+enumQuest.enumID" v-model="enumQuest.answer">
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-0"></div>
                                        </div>
                                    </template>

                                    <template v-if="showButton">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-0"></div>
                                            <div class="col-sm-8 col-xs-12 form-group text-center">
                                                <input type="button" class="btn btn-primary" value="Add Question" @click="saveQuestionCheck">
                                            </div>
                                            <div class="col-sm-2 col-xs-0"></div>
                                        </div>
                                    </template>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuestionAdd",
        data () {
            return {
                titles: {},
                types: {},
                selectedTitle: '',
                selectedType: '',
                questInput:'',
                enumInput:'',
                enumArray:[],
                sendArray:[],
                token: this.$store.state.userInfo.token,
                userID: this.$store.state.userInfo.id,
                showEnum: false,
                showType: false,
                showQuest: false,
                showEnumQuest:false,
                showButton: false
            }
        },
        mounted() {
            let config = {
                headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
            };
            let self = this;
            axios.all([
                axios.get('/api/types', config),
                axios.get('/api/titles', config)
            ])
                .then(axios.spread((typeResponse, titleResponse) => {
                    self.types = typeResponse.data.data;
                    self.titles = titleResponse.data.data;
                }));
            this.showType = false;
        },
        methods: {
            showTypeInput() {
                if(this.selectedTitle !== ''){
                    this.showType = true;
                }
            },
            showQuestInput() {
                console.log('SHow Quest');
                console.log(this.selectedType);
                this.questInput = '';
                if(this.selectedType === 5){
                    this.showEnum = true;
                    this.showQuest = false;
                } else {
                    this.showQuest = true;
                    this.showEnum = false;
                    this.enumInput = '';
                    this.showEnumQuest = false;
                }
            },
            createEnumFields() {
                this.showQuest = true;
                this.showEnumQuest = true;
                this.enumInput = parseInt(this.enumInput, 10);
                let i = 1;
                let first = true;
                this.enumArray = [];
                for(i; i<=this.enumInput; i++){
                    let arrayObj = {};
                    if(first){
                        arrayObj ={"enumID":i, "header":"Enter Response (lowest)", "answer": ""};
                        first = false;
                    }else if(i === this.enumInput){
                        arrayObj ={"enumID":i, "header":"Enter Response (highest)", "answer": ""};
                    }else{
                        arrayObj ={"enumID":i, "header":"Enter Response Number "+i, "answer": ""};
                    }
                    this.enumArray.push(arrayObj);
                }
            },
            saveQuestionCheck() {
                let errors = false;
                if(this.selectedType === '5'){
                    let i = 0;
                    for(i; i<this.enumArray.length; i++){
                        if(this.enumArray[i].answer.length < 1){
                            errors = true;
                            $("#enum"+this.enumArray[i].enumID).css('border', '5px solid #f00');
                        }
                    }
                    if(!errors){
                        this.saveQuestion();
                    }else{
                        swal(
                            'Form Error',
                            'Enum Fields cannot be left blank',
                            'error'
                        )
                    }
                }else{
                    this.saveQuestion();
                }
            },
            saveQuestion() {
                if (this.questInput.length < 1) {
                    swal({
                        title: 'No Question',
                        type: 'error',
                        text: '- Please enter the question. -'
                    })
                    return;
                }
                let config = {
                    headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
                };
                let self = this;
                let sendObject = {};
                let answerArray = [];

                if (this.selectedType === 5){
                    sendObject.title_identifier = parseInt(this.selectedTitle);
                    sendObject.type_identifier = parseInt(this.selectedType);
                    sendObject.question = this.questInput;
                    for(let i = 0; i < this.enumArray.length; i++){
                        answerArray.push({"available_answer": this.enumArray[i].answer})
                    }
                    sendObject.answers = answerArray;
                } else {
                    sendObject.title_identifier = parseInt(this.selectedTitle);
                    sendObject.type_identifier = parseInt(this.selectedType);
                    sendObject.question = this.questInput;
                }
                axios.post('/api/question/add', sendObject, config)
                    .then(response => {
                        //console.log(response.data)
                        swal({
                            title: "Question Created",
                            type: 'success',
                            html: 'Identifier:<br>' + '<b>' + response.data.data.identifier + '</b><br>' + 'Question:<br>' + '<b>' + response.data.data.question + '</b><br>'
                        });

                        self.clearPage();
                    })
                    .catch(error => {
                        //console.log(error.response)
                        swal({
                            title: 'Error Status:<br>' + error.response.data.code,
                            type: 'error',
                            html: 'Error Message:<br>' + '<b>'+error.response.data.error+'</b>'
                        })
                    })
            },
            clearPage(){
                this.selectedTitle = '';
                this.selectedType = '';
                this.questInput = '';
                this.enumInput = '';
                this.enumArray = [];
                this.sendArray = [];
                this.showType = false;
                this.showQuest = false;
                this.showEnum = false;
                this.showEnumQuest = false;
                this.showButton = false;
            }
        },
        watch: {
            questInput: function () {
                this.showButton = this.questInput.length > 2;
            }
        }
    }
</script>

<style scoped>

</style>