<template>
    <div class="bodyDIV">
        <div  class= "imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font">Assign Users To Questionnaire</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>
        <!--our mission-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <div class="row">
                                <div class="row tint">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="form-group">
                                                <label for="selTitle">Select Questionnaire to Assign</label>
                                                <select id="selTitle" class="form-control" v-model="selectedQuestionnaire" @change="showUser">
                                                    <option value="" disabled>- Please select the questionnaire -</option>
                                                    <option v-for="quest in questionnaires.data" v-bind:value="quest.identifier">{{quest.questionnaire_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <template v-if="showUsers">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Assign To Questionnaire</th>
                                                <th>Name</th>
                                                <th>ID</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="user in basics.data">
                                                <td><input type="checkbox" :value="user.identifier" v-model="selectedUsers"></td>
                                                <td>{{user.name}}</td>
                                                <td>{{user.identifier}}</td>
                                            </tr>
                                            </tbody>
                                            <template v-if="basicMeta.pagination.total_pages !== undefined">
                                                <tfoot v-if="basicMeta.pagination.total_pages > 1">
                                                <tr>
                                                    <th>Current Page: {{basicMeta.pagination.current_page}}</th>
                                                    <th>Per Page: {{basicMeta.pagination.per_page}}</th>
                                                    <th>Total Pages: {{basicMeta.pagination.total_pages}}</th>
                                                </tr>
                                                <tr>
                                                    <template v-if="typeof(basicMeta.pagination.links.previous) !== 'undefined'">
                                                        <th><input type="button" class="btn btn-primary" value="Previous Users" @click="previousPage"></th>
                                                    </template>
                                                    <template v-else>
                                                        <th></th>
                                                    </template>
                                                    <th>Total Users: {{basicMeta.pagination.total}}</th>
                                                    <template v-if="typeof(basicMeta.pagination.links.next) !== 'undefined'">
                                                        <th><input type="button" class="btn btn-primary" value="Next Users" @click="nextPage"></th>
                                                    </template>
                                                    <template v-else>
                                                        <th></th>
                                                    </template>
                                                </tr>
                                                </tfoot>
                                            </template>
                                        </table>
                                    </template>

                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12 form-group text-center">
                                            <input type="button" class="btn btn-primary" value="Assign Users" @click="assignUsers">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuestionnaireUsers",
        data() {
            return {
                token: this.$store.state.userInfo.token,
                userID: this.$store.state.userInfo.id,
                basics: {},
                basicMeta: {},
                questionnaires: {},
                selectedQuestionnaire: '',
                selectedUsers: [],
                showUsers:false
            }
        },
        created() {
            let config = {
                headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
            };
            let self = this;
            axios.all([
                axios.get('/api/basics?per_page=25', config),
                axios.get('/api/questionnaire_names?per_page=100', config)
            ])
                .then(axios.spread((basicResponse, questResponse) => {
                    console.log(basicResponse);
                    console.log(questResponse);
                    self.basics = basicResponse.data;
                    self.basicMeta = basicResponse.data.meta;
                    self.questionnaires = questResponse.data;
                }))
            this.showUsers = false;
        },
        methods: {
            showUser() {
                this.showUsers = true;
            },
            previousPage() {
                let config = {
                    headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
                };
                let userRoute = this.basicMeta.pagination.links.previous;
                let self = this;
                axios.get(userRoute, config)
                    .then((response) => {
                        self.basics = response.data;
                        self.basicMeta = response.data.meta;
                    })
            },
            nextPage() {
                let config = {
                    headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
                };
                let userRoute = this.basicMeta.pagination.links.next;
                let self = this;
                axios.get(userRoute, config)
                    .then((response) => {
                        self.basics = response.data;
                        self.basicMeta = response.data.meta;
                    })
            },
            assignUsers() {
                let error = '';
                if (this.selectedQuestionnaire === '') {
                    error += '- Please select the questionnaire you are assigning. -<br>'
                }
                if (this.selectedUsers.length < 1) {
                    error += '- Please select users to assign questionnaire to. -<br>'
                }
                if (error.length > 1) {
                    swal({
                        type: 'error',
                        title: 'Form Errors',
                        html: error
                    })
                    return;
                }
                let self = this;
                let config = {
                    headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
                };
                let data = {};
                data.questionnaire_name_identifier = parseInt(this.selectedQuestionnaire);
                let usersArray = [];
                for (let i = 0; i < this.selectedUsers.length; i++) {
                    usersArray.push({"user_identifier": this.selectedUsers[i]});
                }
                data.user_identifiers = usersArray;
                axios.post('/api/assign_questionnaire', data, config)
                    .then(response => {
                        swal('Questionnaire Assigned', 'The users have been assigned to the selected questionnaire', 'success');
                        self.selectedQuestionnaire = '';
                        self.selectedUsers.length = 0;
                    })
                    .catch(error => {
                        swal({
                            title: 'Error Status:<br>' + error.response.data.code,
                            type: 'error',
                            html: 'Error Message:<br>' + '<b>'+error.response.data.error+'</b>'
                        })
                    })
            }
        }
    }
</script>

<style scoped>
    th{
        text-align: center !important;
    }
</style>