<template>
    <div class="bodyDIV">
        <div  class= "imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font">Question Group Title</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>
        <!--our mission-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <div class="row">
                                <div class="row tint">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <input type="text" maxlength="170" class="form-control" name="contactEmail" placeholder="Please Enter Question Group Title" v-model="title">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12 form-group text-center">
                                            <input type="button" class="btn btn-primary" value="Add Title" @click="addTitle">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuestionGroup",
        data() {
            return {
                title: '',
                token: this.$store.state.userInfo.token,
                userID: this.$store.state.userInfo.id
            }
        },
        methods: {
            addTitle() {
                if (this.title.length < 1) {
                    swal({
                        title: 'No Title',
                        type: 'error',
                        text: '- Please enter the title. -'
                    })
                    return;
                }
                let config = {
                    headers: {'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json'}
                };
                let data = {"coach_identifier": this.userID, "title": this.title};
                axios.post('/api/titles', data, config)
                    .then(response => {
                        //console.log(response.data)
                        swal({
                            title: "Title Created",
                            type: 'success',
                            html: 'Identifier:<br>' + '<b>' + response.data.data.identifier + '</b><br>' + 'Title:<br>' + '<b>' + response.data.data.title + '</b><br>' + 'Creation Date:<br>' + '<b>' + response.data.data.creation_date + '</b>'
                        })
                        this.title = '';
                    })
                    .catch(error => {
                        //console.log(error.response)
                        swal({
                            title: 'Error Status:<br>' + error.response.data.code,
                            type: 'error',
                            html: 'Error Message:<br>' + '<b>'+error.response.data.error+'</b>'
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>