<template>
    <div>
        <div class="ghostBox">
            <carousel :perPage="1" :navigationEnabled="true" paginationActiveColor="#0b0b0b" paginationColor="#7e738b">
                <slide>
                    <h2>Health & Wellness Elevated</h2>
                    <h3>Check this out!</h3>
                    <p style="font-size: 1.3em;">We work to provide highly customized and innovative solutions for your health and wellness effort</p>
                </slide>
                <slide>
                    <h2>mperdiet integer turpis quia</h2>
                    <h3>commodi massa eu dolor</h3>
                    <p style="font-size: 1.3em;">Lorem ipsum dolor sit amet, urna risus ad et quis, scelerisque pellentesque ut a commodo, libero semper augue felis risus, litora vel nulla wisi. Nibh conubia posuere eros, odio per vitae vitae, wisi viverra massa mollis. Imperdiet ornare lorem et bibendum, vitae velit ac enim tellus, dictumst vestibulum rutrum maecenas, aliquet cum convallis magna. Facilisis ac auctor in, accumsan justo sollicitudin lobortis, mauris a ornare vel ut.</p>
                </slide>
                <slide>
                    <h2>diam fringilla est sociosqu</h2>
                    <h3>et a ipsum ornare</h3>
                    <p style="font-size: 1.3em;">Lorem ipsum dolor sit amet, dolor elit venenatis sed id, ac non ac eleifend, mauris nibh consequat nec, porttitor est habitasse in massa. Lorem aliquam tincidunt eget diam, pretium diam dui fermentum iaculis, nulla elit justo donec leo, ridiculus fames integer est at. Pharetra diam placerat neque, auctor volutpat sem aliquam blandit. Quis ornare non mauris wisi, arcu metus urna blandit.</p>
                </slide>
                <slide>
                    <h2>ligula magna arcu etiam</h2>
                    <h3>aliquam venenatis non arcu</h3>
                    <p style="font-size: 1.3em;">Lorem ipsum dolor sit amet, id tempor elementum pede, class elit tortor placerat amet, auctor sagittis aliquam dis natoque, aliquam sit quis amet adipiscing. Sollicitudin lectus pede lorem, velit porta phasellus eu natoque, dui nec lacus in pellentesque, sed nam amet convallis vitae. Pulvinar quisque maecenas pharetra, condimentum leo ridiculus lorem, donec scelerisque cras sodales sit, sodales dui a dignissim integer. Sagittis vel morbi praesent, molestie aenean sem sodales non, beatae nullam aptent erat lacus.</p>
                </slide>
            </carousel>
        </div>
    </div>
</template>