<template>
    <div class="bodyDIV">
        <div  class= "imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font">About Us</h1>
                        <h3 class="card-text header-title-font">
                            Clinicians driving technology, not the other way around.
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>
        <!--our mission-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <h2 class="card-title gap3">Our Company</h2>
                            <h4 class="gap1">AR/VR Technology | Educational Content Solutions | Advisory Services</h4>
                            <p class="text-line-l gap3">
                                Our mission at Wellovate is simple: help you cut through the noise by providing novel and 
                                evidenced-based solutions to improve the quality of life for your people. We understand that 
                                every organization is unique, so we will never waste your time trying to sell you cookie-cutter 
                                solutions. We are in the business of developing solutions with you that are catered for you. Our 
                                work is always backed by our own in-house clinical domain experts to ensure what you get is of 
                                the highest quality.
                            </p>
                             <h4 class="card-title gap3">Welcome to a better kind of partnership. Welcome to Wellovate.</h4>

                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
            <!--our company -->
            <!--div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <hr/>
                    </div>
                    <div class="col-lg-2"></div>

                </div>
                <div class="row">
                    <div class="col-md-1 mb-1">
                        <div class="card h-100">

                        </div>
                    </div>
                    <!-- /.col-md-8 -->
                    <!--div class="col-md-10 mb-10 inside-div">
                        <div class="card h-100">
                            <div class="card h-100">
                                <div>
                                    <h2 class="card-title">Our Company</h2>
                                    <h5>We offer a wide range of tailored solutions for your organization's health and wellness needs.</h5>
                                    <p class="text-line-l">
                                        Wellovate's core digital library of highly-curated educational content is made directly from primary
                                        source evidence-based scientific research. With it we are readily able to provide you audience-specific,
                                        quality content across all major digital platforms.
                                    </p>
                                    <p class="text-line-l">
                                        A natural extension of any wellness program. These products and services are additive to your
                                        existing wellness infrastructure and efforts. They are designed to augment and enhance key
                                        areas such as quality control and engagement.</p>
                                    <p class="text-line-l">
                                        We partner with your organization to solve high-level health and wellness goals. From building
                                        a program, to improving meterics, to specific workplace issues, Wellovate can help create
                                        customized solutions to meet your unique needs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-2 -->
                    <!--div class="col-md-1 mb-1">

                    </div>
                </div>
            </div-->
            <!--our people -->
            <div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <hr/>
                    </div>
                    <div class="col-lg-2"></div>

                </div>
                <div class="row">
                    <div class="col-md-1 mb-1">
                        <div class="card h-100"></div>
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-10 mb-10 inside-div">
                        <div class="card h-100">
                            <div>
                                <h2 class="card-title">Our People</h2>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10 gap1">
                                <div class="col-sm-3">
                                    <img src="images/JM-professional-pic-100x150.jpg" alt="Morgan" class="image"/>
                                    <div class="card-footer">
                                        <h5>Joe Morgan MD</h5>
                                        <p>President & Founder Anesthesiology</p>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <img src="images/patel-100x133.jpg" alt="Patel" class="image" />
                                    <div class="card-footer">
                                        <h5>Rahul Patel MD</h5>
                                        <p>Vice President<br/>Emergency Medicine</p>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <img src="images/Pagano-Nunzio-100x150.jpg" alt="Nunzio" class="image" />
                                    <div class="card-footer">
                                        <h5>Nunzio Pagano DO</h5>
                                        <p>Vice President<br/>Internal Medicine</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <!-- /.col-md-2 -->
                    <div class="col-md-1 mb-1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                isQuality: false,
                isIndications: false
            }
        }
    }
</script>