<template>
    <div class="mainBack">

    </div>
</template>

<script>

</script>

<style scoped>
    .mainBack{
        width: 80%;
        margin: 0 auto;
        display: block;
        height: 88vh;
        outline: 2px solid black;
        background-color: whitesmoke;
    }
</style>