<template>
    <div class="homeBackground">
        <div class="col-md-3"></div>
        <div class="col-md-6 mainTitle">
            <h2 class="titleText">Welcome To Wellovate</h2>
            <h3>Immersive Solutions for<br/>Health Providers, Employers, and our Community</h3>
        </div>
        <div class="col-md-3"></div>
        <!--app-carousel></app-carousel-->
    </div>
</template>

<script>
    import HomeCarousel from '../Carousels/HomeCarousel';
    export default {
        components:{
            appCarousel: HomeCarousel
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style scoped>

</style>