<template>
    <div class="bodyDIV">
        <div  class= "imgAbout">
            <div>
                <div class="col-md-2 mb-2">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-8 mb-8 header-div">
                    <div class="title-div">
                        <h1 class="card-title header-title-font">Login</h1>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2 mb-2">
            </div>
        </div>
        <!--our mission-->
        <div class="row">
            <br/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 mb-1">
                    <div class="card h-100">

                    </div>
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-10 mb-10 inside-div">
                    <div class="card h-100">
                        <div>
                            <div class="row">
                                <div class="row tint">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <input type="email" maxlength="80" class="form-control" name="contactEmail" placeholder="Email" v-model="email">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <input type="password" maxlength="40" class="form-control" name="password" placeholder="password" v-model="password">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="checkbox">
                                                <label><input type="checkbox" v-model="remember">Remember Me On This Device</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-0"></div>
                                        <div class="col-sm-8 col-xs-12 form-group text-center">
                                            <input type="button" class="btn btn-primary" value="Login" @click="fakeLogin">
                                        </div>
                                        <div class="col-sm-2 col-xs-0"></div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 mb-1">

                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';
    export default {
        data(){
            return{
                email: '',
                password: '',
                remember: false
            }
        },
        mounted() {
            let username = localStorage.getItem('username');
            if (username !== null) {
                this.email = username;
                this.remember = true;
            }
        },
        methods: {
            ...mapActions([
                'updateLoggedIn',
                'updateUserInfo'
            ]),
            fakeLogin(){
                let self = this;
                let error = '';
                if(this.email === '') {
                    error += '- Please enter your email. It can\'t be blank. -<br>';
                }
                if(this.password === '') {
                    error += '- Please enter your password. It can\'t be blank. -<br>';
                }
                if(error.length > 1) {
                    swal({
                        title: 'Form Errors',
                        type: 'error',
                        html: error
                    })
                    return;
                }
                let data = { username: this.email, password: this.password };
                axios.post('/api/site/login', data)
                    .then((response) => {
                        // console.log(response.data);
                        self.updateUserInfo(response.data);
                        if (self.remember) {
                            localStorage.setItem('username', self.email);
                        }
                        self.updateLoggedIn();
                        self.$router.push({ name: 'Welcome' })
                    })
                    .catch((error) => {
                        console.log(error.response.data);
                        swal({
                            type: 'error',
                            title: 'Login Error',
                            text: error.response.data.error
                        })
                        this.password = '';
                    })
                // this.updateLoggedIn(true)
            }
        }
    }
</script>